
html{
	scroll-behavior: smooth;
 }
@font-face {
	font-family: 'Onest';
	src: url(fonts/Onest-Black.ttf);
	src: url(fonts/Onest-Bold.ttf);
	src: url(fonts/Onest-ExtraBold.ttf);
	src: url(fonts/Onest-ExtraLight.ttf);
	src: url(fonts/Onest-Light.ttf);
	src: url(fonts/Onest-Medium.ttf);
	src: url(fonts/Onest-Regular.ttf);
	src: url(fonts/Onest-SemiBold.ttf);
	src: url(fonts/Onest-Thin.ttf);
}

@font-face {
	font-family: 'e-UkraineHead';
	src: url(fonts/e-UkraineHead-Bold.otf);
	src: url(fonts/e-UkraineHead-Light.otf);
	src: url(fonts/e-UkraineHead-LOGO.otf);
	src: url(fonts/e-UkraineHead-Medium.otf);
	src: url(fonts/e-UkraineHead-Regular.otf);
	src: url(fonts/e-UkraineHead-Thin.otf);
	src: url(fonts/e-UkraineHead-UltraLight.otf);
}
 .wrapper {

	background-color: #0E0E0E;
	color: white;
	display: flex;
	flex-direction: column;
	overflow: clip;
	font-family:'Onest';
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1440px;
	padding-left: 70px;
	padding-right: 70px;
	margin: 0 auto;
}

section{
	margin-bottom: 200px;
}

#word{
	display: inline-block;
}

h1{
	font-family: 'e-UkraineHead';

}

.primary-gradient{
	background: linear-gradient(to bottom, #FF5D24, #FFA21D);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.light-gradient{
	background: linear-gradient(to bottom, #FFFFFF 70%, #999999 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.primary-shadow{
	filter: drop-shadow(0 0 19.4px rgba(250, 162, 33, 1));
}

.light-shadow{
	
}